@media only screen and (min-width: 1200px) {
  .campagnelogo {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 7%;
  }

  .campagneright {
    display: flex;
    flex-direction: column;
    margin: 5%;
  }

  .campagnebtns {
    text-align: center;
    margin: 10%;
    border-style: solid;
    border-width: 5px;
    background-color: none;
    border-color: #FFBF00;
    color: #FFBF00;
    font-weight: bold;
    border-radius: 50px;
    height: auto;
    padding: 15px 10px;
  }

  .campagnedesc {
    width: 50%;
    height: auto;
    text-align: justify;
    padding: 10% 25% 10px 25%;
    color: #3d4554;
    font-size: 25px;
  }

  .campagnetext {
    display: flex;
  }

  .partnertitle {
      margin: 0% 0% 10% 0%;
      color: #3d4554;
      font-weight: bold;
      font-size: 70px;
      text-align: center;
    }

  .impact {
    background-color: #FFBF00;
    height: 70%;
    padding: 5%;
    text-align: center;
  }

  .impacttitle {
    margin: 10% 10% 0% 10%;
    text-align: center;
    color: #3d4554;
    font-weight: bold;
    font-size: 70px;
  }

  .impactdesc {
    text-align: center;
    padding: 10% 10% 4% 10%;
    color: #3d4554;
    font-size: 25px;
    padding: auto;
  }

  .impactbtn {

    border-style: solid;
    border-width: 5px;
    background-color: none;
    border-color: #3d4554;
    color: #3d4554;
    font-weight: bold;
    border-radius: 50px;
    height: auto;
    padding: 15px 10px;
    margin: 15px 15px 15px 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .campagnelogo {
    text-align: center;
    margin: auto;
    margin-top: 100px;
  }

  .campagnelogo img {

    margin-left: 0px;
  }

  .campagneright {
    display: flex;
    flex-direction: column;
    /*margin: 5%;*/
  }

  .campagnebtns {
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    background-color: none;
    border-color: #FFBF00;
    font-weight: bold;
    border-radius: 50px;
    height: auto;
    padding: 15px 10px;
    margin: 15px 0px 5px 0px;
    width: 200px;
    margin: auto;
  }

  .campagnebtns a {
    color: #FFBF00;
  }

  .campagnedesc {
    /*width: 50%;*/
    height: auto;
    text-align: justify;
    padding: 1% 20% 10px 20%;
    color: #3d4554;
    font-size: 16px;
    padding: auto;
  }

  .impact {
    background-color: #FFBF00;
    height: auto;
    padding: 5%;
    text-align: center;
    padding-bottom: 20%;
  }

  .impacttitle {
    margin: 10% 10% 0% 10%;
    text-align: center;
    color: #3d4554;
    font-weight: bold;
    font-size: 32px;
  }

  .impactdesc {
    text-align: center;
    padding: 10% 10% 10% 10%;
    color: #3d4554;
    font-size: 16px;
    padding: auto;
  }

  .impactbtn {

    border-style: solid;
    border-width: 5px;
    background-color: none;
    border-color: #3d4554;
    color: #3d4554;
    font-weight: bold;
    border-radius: 50px;
    height: auto;
    padding: 15px 10px;
    margin: 15px 0px 30px 0px;
  }
}
